@font-face {
	font-family: PingFangSC;
	src: url("../asset/PingFang-SC.ttf");
}

nav a {
	font-size: 16px;
	letter-spacing: 1px;
	color: #2c2d32;
}

nav a:hover {
	color: #2c2d32;
}

h1 {
	font-family: "Montserrat", "PingFangSC";
	font-size: 36px;
	font-weight: 600;
	letter-spacing: 2px;
	color: #2c2d32;
	margin: 0;
}

p {
	font-family: "Montserrat", "PingFangSC";
	font-size: 16px;
	color: #2c2d32;
	margin: 0;
}

footer {
	padding-bottom: 3vh;
}

.nav-up {
	background-color: #fff;
}

.nav-link:hover + .nav-line{
	opacity: 1;
}

.nav-line {
	width: 26px;
	border-bottom: solid 2px #d6f046;
	opacity: 0;
}




.story {
	height: 160vh;
	margin-top: 15vh;
}

.story1 {
	width: 42vw;
	height: 38vh;
	background-image: url("../image/story1.jpeg");
	background-size: cover;
	box-shadow: 0 0 30px rgba(0,0,0,0.3);
}

.story2 {
	width: 42vw;
	height: 38vh;
	background-image: url("../image/story2.jpeg");
	background-size: cover;
	box-shadow: 0 0 30px rgba(0,0,0,0.3);
}

.story3 {
	width: 42vw;
	height: 38vh;
	background-image: url("../image/story3.jpg");
	background-size: cover;
	box-shadow: 0 0 30px rgba(0,0,0,0.3);
}





.contact {
	height: 80vh;
	margin-top: 15vh;
}

.map {
	width: 60vw;
	height: 60vh;
	background-image: url("../image/map.png");
	background-size: cover; 
}





.product {
	width: 100vw;
	/*height: 300vh;*/
	background-image: url("../image/background.png");
	background-size: cover;
	/*background-attachment: scroll;*/
}

.download {
	width: 209px;
	height: 54px;
	border-radius: 43px;
	border: none;
	background-color: #d6f046;
	box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.15);
	font-family: "Montserrat";
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 1.3px;
	color: #2c2d32;
}

.dots {
	position: fixed;
	top: 50%;
	right: 2%;
	transform: translate(0,-50%);
}

.dot-active {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	border: solid  2px #2c2d32; 
	background-color: #2c2d32;
}

.dot {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	border: solid 2px #2c2d32;
}



#text1 {
	transform: translate(0, -50%);
	/*transition: transform 1s ease;*/
}

#pic1 {
	transform: translate(0, 10%);
	/*transition: transform 1s ease;*/
}

#text2 {
	transform: translate(0, -50%);
	/*transition: transform 1s ease;*/
}

#pic2 {
	transform: translate(0, 10%);
	/*transition: transform 1s ease;*/
}

#text3 {
	transform: translate(0, -50%);
}

#pic3 {
	transform: translate(0, 10%); 
}







.welcome {
	height: 100vh;
}

.welcome-pic {
	width: 100vw;
	height: 100vh;
	background-image: url("../image/welcome.png");
	background-size: cover;
}


.story-latest {
	height: 75vh;
	margin-top: 25vh;
}






.us {
	height: 120vh;
}

.people1 {
	background-image: url("../image/people1.png");
	background-size: cover;
	height: 120vh;
	transition: 1s ease;
}

.people2 {
	background-image: url("../image/people2.png");
	background-size: cover;
	height: 120vh;
	transition: 1s ease;
}

.people3 {
	background-image: url("../image/people3.png");
	background-size: cover;
	height: 120vh;
	transition: 1s ease;
}

.people4 {
	background-image: url("../image/people4.png");
	background-size: cover;
	height: 120vh;
	transition: 1s ease;
}

.people1:hover {
	background-image: url("../image/people.png");
	transform: rotateY(180deg);
}

.people2:hover {
	background-image: url("../image/people.png");
	transform: rotateY(180deg);
}

.people3:hover {
	background-image: url("../image/people.png");
	transform: rotateY(180deg);
}

.people4:hover {
	background-image: url("../image/people.png");
	transform: rotateY(180deg);
}



















