@font-face {
	font-family: PingFangSC;
	src: url("../asset/PingFang-SC.ttf");
}

nav a {
	font-size: 16px;
	letter-spacing: 1px;
	color: #2c2d32;
}

nav a:hover {
	color: #2c2d32;
}

h1 {
	font-family: "Montserrat", "PingFangSC";
	font-size: 36px;
	font-weight: 600;
	letter-spacing: 2px;
	color: #2c2d32;
	margin: 0;
}

p {
	font-family: "Montserrat", "PingFangSC";
	font-size: 16px;
	color: #2c2d32;
	margin: 0;
}

footer {
	padding-bottom: 3vh;
}

.nav-up {
	background-color: #f2f2f2;
/*    transition: background-color .5s ease;*/
}

.nav-link:hover + .nav-line{
	opacity: 1;
}

.nav-line {
	width: 26px;
	border-bottom: solid 2px #d6f046;
	opacity: 0;
}




.story {
	height: 110vh;
	margin-top: 15vh;
}

.story1 {
	width: 42vw;
	height: 38vh;
	background-image: url("../image/story1.jpg");
	background-size: cover;
	box-shadow: 0 0 30px rgba(0,0,0,0.3);
}

.story2 {
	width: 42vw;
	height: 38vh;
	background-image: url("../image/story2.jpg");
	background-size: cover;
	box-shadow: 0 0 30px rgba(0,0,0,0.3);
}






.contact {
	height: 80vh;
	margin-top: 15vh;
}

.map {
	width: 60vw;
	height: 60vh;
	background-image: url("../image/map.png");
	background-size: cover; 
}





.section2 {
	width: 100vw;
	background-image: url("../image/bkg.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.download {
	width: 209px;
	height: 54px;
	border-radius: 43px;
	border: none;
	background-color: #d6f046;
	box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.15);
	font-family: "Montserrat";
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 1.3px;
	color: #2c2d32;
}

.fp-slidesNav ul {
    text-align: center;
}

.section1 .fp-slidesNav ul {
    text-align: right;
}



#text1 {
	transform: translate(0, -50%);
}

#pic1 {
	transform: translate(0, 25%);
}

#text2 {
	transform: translate(0, -50%);
}

#pic2 {
	transform: translate(0, 25%);
}

#text3 {
	transform: translate(0, -50%);
}

#pic3 {
	transform: translate(0, 25%);
}









.wslide1 {
	width: 100vw;
	height: 100vh;
	background-image: url("../image/welcome1.png");
	background-size: cover;
}

.wslide2 {
	width: 100vw;
	height: 100vh;
	background-image: url("../image/welcome2.png");
	background-size: cover;
}

.wslide3 {
	width: 100vw;
	height: 100vh;
	background-image: url("../image/welcome3.png");
	background-size: cover;
}

.story-latest {
	height: 70vh;
	margin-top: 25vh;
}






.us {
	height: 120vh;
}

.people1 {
	background-image: url("../image/people1.png");
	background-size: cover;
	height: 120vh;
	transition: 1s ease;
}

.people2 {
	background-image: url("../image/people2.png");
	background-size: cover;
	height: 120vh;
	transition: 1s ease;
}

.people3 {
	background-image: url("../image/people3.png");
	background-size: cover;
	height: 120vh;
	transition: 1s ease;
}

.people4 {
	background-image: url("../image/people4.png");
	background-size: cover;
	height: 120vh;
	transition: 1s ease;
}

.people1:hover {
	background-image: url("../image/people.png");
	transform: rotateY(180deg);
}

.people2:hover {
	background-image: url("../image/people.png");
	transform: rotateY(180deg);
}

.people3:hover {
	background-image: url("../image/people.png");
	transform: rotateY(180deg);
}

.people4:hover {
	background-image: url("../image/people.png");
	transform: rotateY(180deg);
}



















